{{nokia-string string=string slices=slices debug=debug animated=animated}}

<label>{{input value=string}} string</label><br/>
<label>{{input value=slices type='number'}} slices</label><br/>
<label>{{input checked=animated type='checkbox'}} animated</label><br/>
<label>{{input checked=debug type='checkbox'}} debug</label><br/>
